  * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 body {
     background-color: #F2F2F2;
     color: white;
     overflow-x: hidden;
 }
 .work-section {
     padding: 100px 20px;
     background-color: #fcfcfc;
 }
 .container {
     max-width: 1400px;
     margin: 0 auto;
 }
  .section-header {
     text-align: center;
     margin-bottom: 50px;
 }
  .section-header h2 {
     font-size: 56px;
     font-weight: 600;
     color: #441869;
     margin-bottom: 10px;
 }
  .divider {
     width: 50px;
     height: 4px;
     background: #6b46c1;
     margin: 0 auto;
     border-radius: 2px;
 }
 .work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
 }
 .project-card {
     width: 411.328px;
     height: 517.328px;
     background: #fff;
     border-radius: 20px;
     overflow: hidden;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
     transition: transform 0.3s ease;
 }
 .project-card:hover {
     transform: scaleX(1.1);
     opacity: 1;
 }
 .card-image {
     width: 100%;
     height: 200px;
     overflow: hidden;
     background: #000;
 }
 .card-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 0.8;
     transition: all 0.5s ease;
 }
 .project-card:hover .card-image img {
     transform: scale(1.1);
     opacity: 1;
 }
 .card-body {
     padding: 25px;
 }
  .card-body h3 {
     margin-bottom: 15px;
     color: #2d3436;
     font-size: 1.25rem;
 }
  .card-body p {
     color: #636e72;
     font-size: 0.95rem;
     line-height: 1.6;
     margin-bottom: 20px;
 }
  .tag-list {
     display: flex;
     flex-wrap: wrap;
     gap: 8px;
 }
 .tag-list span {
     background: #f1f2f6;
     padding: 5px 15px;
     border-radius: 15px;
     font-size: 0.8rem;
     color: #57606f;
 }
 /* --- Media Queries Tablet and Mobile---*/
@media (max-width: 992px) {
    .work-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
 @media (max-width: 600px) {
     .work-grid {
         grid-template-columns: 1fr;
     }

     .project-card {
         max-width: 400px;
         margin: 0 auto;
     }
 }