
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #111;
}

.header {
  background: #f7f6fb;
  border-bottom: 1px solid #eaeaea;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 17px;
    color: #7b5cff;
    font-weight: 700;

}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
   
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    font-size: 16px;
    color:#111 ;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;

}

.nav-links a:hover{
    color: #7b5cff;
}


.hero {
  position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #949ce4, #da61ff);
  z-index: 1;
}

.hero-bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.12) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.12) 1px, transparent 1px);
  background-size: 40px 40px;
}


.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.hero-content h2 {
  font-size: 58px;
  line-height: 1.15;
  font-weight: 800;
  margin-bottom: 18px;
}

.hero-content p {
  max-width: 700px;
  font-size: 18px;
  line-height: 1.7;
  opacity: 0.95;
  margin-bottom: 25px;
}

.hero-btn {
  display: inline-block;
  padding: 18px 48px;
  border-radius: 40px;
  background: rgba(255,255,255,0.25);
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255,255,255,0.35);
  transition: all 0.3s ease;
}

.hero-btn:hover {
  background: rgba(255,255,255,0.35);
  transform: translateY(-2px);
}